.CharacterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0;
    padding: 2rem;
}

h1 {
    text-align: center;
    padding-top: 2rem;
    font-size: 4rem;
    color: white;
}

h2 {
    color: white;
}

.search-bar {
    text-align: center;
    margin: -2rem;
    padding: 0.25rem;
}

input, button {
    text-align: center;
    margin: 0.25rem;
    padding: 0.25rem;
    border-radius: 5px;
    background-color: #e8a87c; 
}

img {
    border-radius: 10px;
    border: 2px solid #f64c72;
}
